<!-- Adding copyright -->

<br><br><br><br><br><br>
 <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h1 class="display-6 navbar-text" style="font-size: 25px;">&copy; Copyright 2021 Muhammad Ilyas Sameer Ismail. All Rights reserved.</h1>
    </nav>
  </footer>