<% include partials/header.ejs %>

  <div class="container">
    <h1 class="display-1"><%= title %></h1>
    <p class="lead">Here's a little about me to get acquainted!</p>
    <br><br>
    <h3>Legal Name:</h3>
    <p>Muhammad Ilyas Sameer Ismail</p>

    <!-- Placing the image in a more appealing position. -->
    <img style="float: right; position: relative; top: -300px;" height="350px;" width="auto" src="/images/me.jpg">
    <br><br>
    <h3>Who I Am:</h3>
    <p>My name is Ilyas, but everyone refers to me by Staz. Ever since I was little, I had an interest in programming, and technology<br>
     in general. To further my understanding and to get a proper education in software development, I've enrolled in Centennial<br>
     College's "Software Engineering Technology" program. So far, I've gained knowledge on topics such as C#, HTML, JavaScript,<br>
     and software development industry standards. Moving on, I'll be learning more about other programming languages such <br>
     as Java and more about some of the languages mentioned above. For a more intimate look about what I have to offer, you<br>
     can take a look at my <a href="/pdfs/resume.pdf" target="_blank"> résumé</a>.
    </p>
  </div>

<% include partials/footer.ejs %>
<% include partials/scripts.ejs %>