<% include partials/header.ejs %>

  <div class="container">
    <h1 class="display-1"><%= title %> <small style="font-size:35px;" class="text-muted">Made by: Staz Ismail</small></h1>
    <p class="lead">Welcome to my Express website! Take a look around and learn <a href="/about">about me</a>!</p>
    <br><br>
    <h3 style="text-align: center;">Mission Statement:</h3> 
    <br>
    <blockquote style="text-align: center;" class="blockquote">The purpose of this website is to demonstrate my knowledge and understanding about Express, Node.js, and cloud servers so far.
      To show clear understanding and ability to use Express routing through the navigation of the website.
      I hope to display satisfactory results based on what I have displayed.
    </blockquote>
  </div>

<% include partials/footer.ejs %>
<% include partials/scripts.ejs %>