<% include partials/header.ejs %>

  <div class="container">
    <h1 class="display-1"><%= title %></h1>
    <p class="lead">View the previous projects I've worked on.</p>
    <br><br>

    <!-- Project 1 -->

    <h3>Project Title: Wage Calculator (C#)</h3>
    <br>
    <h4>Role: Developer</h4>
    <br>
    <h4>Description:</h4>
    <p>A simple console application made using C#. The application takes inputs from the user based on the questions asked and<br>
      commits the proper calculations to display the appropriate amount the user should recieve.
    </p>
    <img src="/images/cSharp.PNG"/>
    <br><br><br><br>

    <!-- Project 2 -->

    <h3>Project Title: Simple Form (JavaScript)</h3>
    <br>
    <h4>Role: Developer</h4>
    <br>
    <h4>Description:</h4>
    <p>A simple website made using HTML5 and JavaScript. The website provides a form for the user to fill. If the correct requirements<br>
      are not met, the website will alert the user to fix their errors. The buttons at the bottom both clear the form, the bottom<br>
      left sends the user a message.
    </p>
    <!-- Image required resizing due to it being too massive. -->
    <img src="/images/js.PNG" 
    width="auto" 
    height="500" />
    <br><br><br><br>
    
    <!-- Project 3 -->

    <h3>Project Title: SQL Database</h3>
    <br>
    <h4>Role: Developer</h4>
    <br>
    <h4>Description:</h4>
    <p>A database made using Oracle SQL. The database would recieve new entries and adjust prior ones based on the commands I've<br>
      provided. Essentially, multiple tables are created with values being entered for them. As well as the values of the table are <br>
      being modified whenever necessary.
    </p>
    <!-- Image required resizing due to it being too massive. -->
    <img src="/images/sqlCode.PNG" 
    width="auto" 
    height="500" />
  </div>

<% include partials/footer.ejs %>
<% include partials/scripts.ejs %>