<% include partials/header.ejs %>

  <div class="container">
    <h1 class="display-1"><%= title %></h1>
    <p class="lead">Check for services you may be interested in!</p>
    <br><br>

    <!-- Service 1 -->

    <h4>C# Application:</h4>
    <p>If accepted, I will make you an application using the C# language based on the specifications<br>
      and requirements provided. Price will vary based on the request.
    </p>
    <img src="/images/cSharpCode.PNG"/>
    <br><br><br><br>

    <!-- Service 2 -->

    <h4>Java Application:</h4>
    <p>If accepted, I will make you an application using the Java language based on the specifications<br>
      and requirements provided. Price will vary based on the request.
    </p>
    <img src="/images/javaCode.PNG" >
    <br><br><br><br>

    <!-- Service 3 -->

    <h4>SQL Database:</h4>
    <p>If accepted, I will create an SQL Database(s) for you with all the releveant information you've provided<br>
      me with. Price will vary based on how many entries and or databases are required.
    </p>
    <!-- Image was too large, had to downsize. -->
    <img src="/images/sqlCode.PNG" 
    width="auto" 
    height="500" />
  </div>

<% include partials/footer.ejs %>
<% include partials/scripts.ejs %>